# python venv 
agent/
.agent/
env/
.env
*/.env
.env.local
*/.env.local
__pycache__/
*.pyc

# Runtime data
qdrant_data/
temp_repos/
app/temp_repos/

context.txt
IMPROVEMENTS.md
RETRIEVAL_FIX.md
SMART_RETRIEVAL_FIX.md
logs.txt

GITHUB_INTEGRATION_GUIDE.md 
SETUP_CHECKLIST.md
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
infra/.terraform/providers/registry.terraform.io/hashicorp/random/3.8.1/windows_amd64/terraform-provider-random_v3.8.1_x5.exe
infra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
infra/.terraform/providers/registry.terraform.io/hashicorp/random/3.8.1/windows_amd64/LICENSE.txt
infra/.terraform.lock.hcl
infra/*.tfstate
infra/*.tfstate.*


# .md files
/docs to refer/
COMPLETE_SETUP_SUMMARY.md
FILE_STRUCTURE_GUIDE.md
PAYMENT_INTEGRATION_SUMMARY.md
PAYMENT_SETUP.md
QUICK_REFERENCE.md
TECHNICAL_DEEP_DIVE.md
TESTING_GUIDE.md

test_razorpay.py