version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant
    container_name: infralens-qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
  
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=infralens
  
volumes:
  qdrant_data:
  mongodb_data: