fastapi
uvicorn[standard]
pydantic
python-dotenv
gitpython
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
langchain-groq
qdrant-client
sentence-transformers
motor
pymongo
pyjwt[crypto]
chardet
httpx
cryptography
fastembed